.welcome-teaser {
    width: 100%;
    /*
    height: calc(100vh - 56px);
    */
    background-image: url("../images/wave.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-link {
    border-radius: 24px;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;

    border: 1px solid #017afe;
}

.project-content {
    height: 30%;
}

#projectTonic .project-link-img {
    background-image: url("../images/adtonic/tonic-neon.png");
}

#projectHealthapp .project-link-img {
    background-image: url("../images/healthapp/healthapp.png");
    background-position: left;
}

#projectMetalPlates .project-link-img {
    background-image: url("../images/pressureplates/pressureplate-leds.jpg");
}

#projectDesignSystem .project-link-img {
    background-image: url("../images/designsystem/design-system-components.png");
}

.project-link-img {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    height: 100%;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .project-link {
        margin: 16px;
    }

    .project-content {
        height: 50%;
    }

    .project-link-img {
        margin-top: 8px;
    }
}

@media print, screen and (min-width: 768px) and (max-width: 1040px) {
    .project-link{
        margin-left: 24px;
        margin-right: 24px;
    }
}

/* Desktop & Tablet */
@media only screen and (min-width: 768px) {
    .project-link {
        border-color: transparent;
    }

    .welcome-teaser > div {
        width: 50%;
        margin: 0 auto;
        text-align: justify;
    }

    .project-link > a:hover {
        text-decoration-line: underline;
        text-decoration-color: #017afe;
    }

    .project-link:hover {
        border-color: #017afe;
    }
}

