.welcome-teaser {
    width: 100%;
    /*
    height: calc(100vh - 56px);
    */
    background-image: url("../images/wave.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
    margin: 24px;
    border-radius: 24px;

    /* prevent padding from adding extra space */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project-link-img {
    display: none;
}

.project-link-text {
    height: calc(100% - 32px);
    background-color: rgba(255, 255, 255, .5); /* rgba(1,122,254,.5) */
    border-radius: 24px;
    padding: 16px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    #projectTonic .project-link {
        background-image: url("../images/adtonic/tonic-neon.png");
    }

    #projectHealthapp .project-link {
        background-image: url("../images/healthapp/healthapp.png");
    }

    #projectMetalPlates .project-link {
        background-image: url("../images/pressureplates/pressureplate-leds.jpg");
        background-position: top;
    }
    #projectDesignSystem .project-link {
        background-image: url("../images/designsystem/design-system-components.png");
        background-position: top;
    }
}

/* Desktop & Tablet */
@media only screen and (min-width: 768px) {
    .welcome-teaser > div {
        width: 50%;
        margin: 0 auto;
        text-align: justify;
    }

    .project-links > a:hover {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: #017afe;
    }

    section[id^="project"] .project-link {
        width: 100%;
        margin: 24px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
        padding: 16px;
        border-radius: 24px;
        border: solid 1px transparent;
    }

    section[id^="project"] .project-link:hover {
        border-color: #017afe;
    }

    .project-link-text {
        height: auto;
        background-color: transparent;
        padding: 0;
    }

    .project-link > * {
        height: 100%;
    }

    .project-link-img {
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px;
    }

    #projectTonic .project-link-img {
        background-image: url("../images/adtonic/tonic-neon.png");
    }

    #projectHealthapp .project-link-img {
        background-image: url("../images/healthapp/healthapp.png");
        background-position: left;
    }

    #projectMetalPlates .project-link-img {
        background-image: url("../images/pressureplates/pressureplate-leds.jpg");
    }

    #projectDesignSystem .project-link-img {
        background-image: url("../images/designsystem/design-system-components.png");
    }

    .project-link-text, .project-link-img {
        width: 48%;
    }
}

