:root {
  --font-size-normal: 1rem;
  --font-size-header: 1.875rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --color-primary: #928954;
  --color-primary-dark: #745F00;
  --color-primary-accent: #E5E2D6;

  --border-radius-large: 1rem;
  --border-radius-medium: 1.5rem;
  --border-radius-small: 0.5rem;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  --font-color-medium-emphasis: rgba(46, 46, 32, 0.75);
  --font-color-default: rgb(46, 46, 32);
}

* {
  font-family: Inter;
  font-size: var(--font-size-normal);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;

}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-normal);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
}

h2 {
  font-size: var(--font-size-header);
  font-style: normal;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--font-color-default);
}

a.link {
  display: flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  color: var(--color-primary-dark);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.button-secondary {
  display: flex;
  height: 2.5rem;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;
  background: #fff;
  text-decoration: none;

  color: var(--color-primary-dark);
  font-family: Inter;
  font-size: var(--font-size-normal);
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border-radius: 0.25rem;
  border: 1px solid var(--color-primary-dark);
}

.button-secondary:hover {
  background: var(--color-primary-accent);
}

/**
  * Header Styles
  */
#logoHeader {
  height: 112px;
}

header {
  display: flex;
  padding: 1rem 1rem 0.5rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;

  color: var(--font-color-default);

  border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
  background: var(--color-primary-accent);
}


#externalLinks {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-medium);
}

/**
  * Navigation Styles
  */
#onPageNav {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

#onPageNav .button-secondary {
  flex: 1 0 0;
  max-width: 10rem;
}

/**
  * Main Styles
  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;

  color: var(--font-color-medium-emphasis);
}

main section {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;

  gap: 1rem;
}

main>* {
  max-width: 64rem;
  padding: 0 1rem;
}

img.progressImage {
  width: 100%;
  border-radius: var(--border-radius-small);
  aspect-ratio: 9/16;
}

.image-collection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-small);
  align-self: stretch;
}

.divider {
  display: flex;
  height: 2rem;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.line {
  display: flex;
  height: 0.0625rem;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  background: var(--color-primary);
}


/**
  * Footer Styles
  */
footer {
  display: flex;
  padding: 1rem 1rem 0.5rem 1rem;
  margin-top: var(--spacing-medium);
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;

  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  background: var(--color-primary-accent);
}

#aboutMeSection .aboutMeImage {
  aspect-ratio: 3/4;
  border-radius: var(--border-radius-medium)
}

/**
  * Medium Screen Styles
  */
@media screen and (min-width: 833px) {
  .image-collection {
    display: inline-grid;
    row-gap: 1rem;
    column-gap: 16px;
    align-self: stretch;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #aboutMeSection .aboutMeImage {
    width: 50%;
  }

}

/**
  * Large Screen Styles
  */
@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
  }

  .image-collection {
    display: inline-grid;
    row-gap: 1rem;
    column-gap: 16px;
    align-self: stretch;
    grid-template-rows: repeat(1, fit-content(100%));
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  main>* {
    margin: auto;
    width: 50%;
  }

  #aboutMeSection .aboutMeImage {
    width: 25%;
  }
}